/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 7rem;
    --footer-height: 2rem;

    /*========== Colors ==========*/
    --hue-color: 250;

    --first-color: #5680E9;
    --title-color: #8860D0;
    --text-color: #5AB9EA;
    --text-color-light: #C1C8E4;
    --body-color: #84CEEB;

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    /*========== Font size ==========*/
    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 3rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.5rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --page-indent: 2rem;


    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3.5rem;
        --normal-font-size: 1.25rem;
        --small-font-size: 1rem;
    }
}


/*==================== BASE ====================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    font-size: var(--big-font-size);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
    height: 100%;
    padding: 0 var(--page-indent);
    scroll-snap-align: start;

    border: 5px solid black;
}

.section__link-wrapper {
    padding: 5rem;
}

.section__link {
    margin: 2rem 0;
}

.section__title {
    font-size: var(--big-font-size);
    color: var(--title-color);
}

.section__subtitle {
    font-size: var(--normal-font-size);
}

.section__title,
.section__subtitle {
    text-align: left;
}

.section__text {
    font-size: var(--normal-font-size);
    color: var(--text-color);
}

.btn {
    padding: 0.5rem;
    background-color: var(--body-color);
    border: .25rem solid var(--body-color);
    border-radius: .25rem;
}

.btn-contact-me {
    margin-top: 2rem;
}

.btn:hover {
    color: white;
    background-color: var(--first-color);
    transition: 0.2s ease-in;
}

/*==================== LAYOUT ====================*/
.header {
    height: var(--header-height);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);

    padding: 0 var(--page-indent);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: var(--body-color);
}

.main {
    margin-top:  var(--header-height);
    height: calc(100vh - var(--header-height) - var(--footer-height));

    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.footer {
    width: 100%;
    height: var(--footer-height);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);

    display: flex;
    align-items: center;

    padding: 0 var(--page-indent);
    background-color: var(--body-color);
}

/*==================== NAV ====================*/
.navbar__list {
    display: flex;
}

.navbar__item {
    padding-left: 4rem;
}

.navbar__item a {
    color: var(--title-color);
    font-weight: var(--font-medium);
} 

.logo {
    height: 5rem;
}


/* .a,
.b {
    height: 100%;
}
.a {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 80px));
    background: #FE8F8F;
}
.b {
    clip-path: polygon(0 0, 100% 80px, 100% 100%, 0 100%);
    margin-top: -60px;
    background: rgb(100, 100, 211);
} */

/*==================== SECTION ====================*/
.hero {
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hero-image {
    height: 17rem;
}

.about {
    background-color: crimson;
}

.projects {
    background-color: antiquewhite;
}

.contact {
    background-color: yellowgreen;
}
