/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@1,500&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 7rem;

    /*========== Colors ==========*/
    /* --hue-color: 250; */

    --primary-color: #ECEEF2;
    --secondary-color: #F07268;
    --title-color: #006D8F;
    --text-color: #8F4DB8;
    --text-color-light: #cfa7e7;

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    /*========== Font size ==========*/
    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 3rem;
    --heading-font-size: 1.75rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.5rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --page-indent: 15rem;


    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3.5rem;
        --heading-font-size: 2rem;
        --normal-font-size: 1.25rem;
        --small-font-size: 1rem;
    }
}


/*==================== BASE ====================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--primary-color);
    color: var(--text-color);
}

h1,
h2 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    font-size: var(--big-font-size);
}

h3,
h4 {
    color: var(--title-color);
    font-weight: var(--font-medium);
    font-size: var(--heading-font-size);
}

p {
    font-size: var(--normal-font-size);
    color: var(--text-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

progress,
input {
    accent-color: var(--title-color);
}

/*========== Hide Scrollbar ==========*/
.main {
    /* Internet Explorer 10+ and Edge */
    -ms-overflow-style: none;

    /* Firefox */
    scrollbar-width: none;
    /* Older versions of Firefox */
    overflow: -moz-scrollbars-none;
}

.main::-webkit-scrollbar {
    /* Safari, Chrome and Opera */
    display: none;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
    height: 100%;
    scroll-snap-align: start;
    padding: 0 var(--page-indent);
    /* padding: 3rem 5rem; */
    /* border: 5px solid black; */
}

.section__title {
    font-size: var(--big-font-size);
    color: var(--title-color);
}

.section__subtitle {
    font-size: var(--normal-font-size);
}

.section__title,
.section__subtitle {
    text-align: center;
}

.popup__container {
    border: 2px solid black;
    text-align: center;
    width: 400px;
    background: var(--primary-color);
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 2rem 1rem 2rem;
    background-color: var(--primary-color);
}

.popup__image {
    margin-top: -3.5rem;
    background-color: var(--title-color);
    color: white;
    border-radius: 50%;
    padding: 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup__image--error {
    padding: 1.5rem 2.75rem;
}

.popup__heading {
    margin-top: 0.5rem;
}

.popup__text {
    margin: 0.75rem 0;
}

.btn {
    padding: 1rem;
    background-color: var(--body-color);
    border: .25rem solid var(--body-color);
    border-radius: .25rem;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    outline: none;
    font-size: var(--small-font-size);
}

.btn:hover {
    color: white;
    background-color: var(--primary-color);
    transition: 0.2s ease-in;
}

.btn-flex {
    margin: 1rem 0;
    width: 100%;
}

/*==================== LAYOUT ====================*/
.header {
    height: var(--header-height);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    padding: 2rem var(--page-indent);
    background-color: var(--body-color);
}

.main {
    margin-top: var(--header-height);
    height: calc(100vh - var(--header-height));

    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

/*==================== NAV ====================*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.navbar__item {
    padding-left: 4rem;
}

.navbar__item a {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.logo-svg {
    height: 5rem;
    width: 5rem;
}

/*==================== SECTION ====================*/
/*=============== Hero Section ===============*/
.hero {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__title,
.hero__subtitle {
    text-align: left;
}

.hero-image {
    height: 17rem;
}

.hero__link-wrapper {
    padding: 5rem;
}

.hero__link {
    margin: 2rem 0;
}

.hero__link--instagram,
.hero__link--gmail,
.hero__link--github {
    padding-left: 6px;
}

.btn-contact-me {
    margin-top: 2rem;
}

/*=============== About Section ===============*/
.about {
    background-color: var(--primary-color);
}

.about__content-wrapper {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}

.about__text-wrapper {
    max-width: 50rem;
}

.about__image {
    height: 15rem;
}

/*=============== Skills Section ===============*/
.skills {
    background-color: var(--primary-color);
}

.skills__content-wrapper {
    margin: 3rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    row-gap: 2rem;
}

.skills__panel {
    max-width: 20rem;
    padding: 1rem;
    border: 3px solid black;
}

.skills__name-wrapper {
    display: flex;
    justify-content: space-between;
}

.skills__name {
    font-weight: var(--font-semi-bold);
}


/*=============== Projects Section ===============*/
.projects {
    background-color: var(--primary-color);
}

.projects__cards-container {
    margin: 3rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: 2rem;
}

.projects__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 20rem;
    border: 2px solid black;
    background: #fafafa;
}

.projects__card--image {
    width: 100%;
    display: block;
}

.projects__card-text-wrapper {
    padding: 0 2rem;
}

.projects__card--title {
    font-size: 2em;
    line-height: 1;
    padding-top: 1.75rem;
}

.projects__card--text {
    line-height: 1.5;
    padding-top: 1rem;
}

.projects__card--info {
    margin-top: 1.5rem;
    padding: 0.25rem 0.75rem;
    background: #eeeeee;
    font-size: 0.8em;
    border-bottom: 2px solid #cccccc;
}

/*=============== Contact Section ===============*/
.contact {
    background-color: var(--primary-color);
}

.contact__content-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.contact__link-wrapper {
    height: 50%;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact__link {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.contact__link--icon {
    padding-right: 1rem;
}

.contact__link--title {
    font-size: var(--normal-font-size);
}

.contact__link--text {
    font-size: var(--small-font-size);
    color: var(--text-color);
}

.contacts__email {
    color: black;
}

.contact__form--field {
    background-color: var(--text-color);
    border-radius: .5rem;
    padding: .75rem 1rem .25rem;
    margin-bottom: .25rem;
    margin-left: .25rem;
}

.contact__form--field-text {
    color: white;
}

.contact__form--field-wrapper {
    display: flex;
}

.contact__form--field-name,
.contact__form--field-email {
    width: 50%;
}

.contact__form--field-message {
    resize: none;
}

.contact__form-input {
    width: 100%;
    background-color: var(--text-color);
    color: white;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    border: none;
    outline: none;
    padding: .25rem .5rem .5rem 8;
}

.btn-submit {
    margin-top: 1rem;
    background-color: var(--text-color);
    color: white;
}